# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List open source tools used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Matplotlib
3. Pandas

| Data Science Tools |
|---|
| Jupyter Notebook |
| RStudio |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/6

33.333333333333336

## Author

Ayoola Olaleye